.btn {
    border-radius: 0;
    padding: 10px 20px;
    border: 1px solid $grey-3;
    color: #fff;
    min-width: 150px;
    display: inline-block;
    margin: 10px 15px 10px 0;
    text-decoration: none;
    background: $grey-3;
    font-weight: lighter;
    white-space: normal;
    
    &:focus {
        text-decoration: none;
        background: $grey-3;
        border: 1px solid #BBBBBB;
    }
    
    &:hover {
        text-decoration: none;
        background: $primary-purple;
        border: 1px solid $primary-purple;
    }
}

.btn-primary {
    background: $primary-blue;
    border: 1px solid $primary-blue;
    color: #fff;
    
    &:focus {
        text-decoration: none;
        background: $primary-blue;
        border: 1px solid #91D2E2;
    }
    
    &:hover {
        text-decoration: none;
        background: $primary-purple;
        border: 1px solid $primary-purple;
    }
}

.btn, .btn-primary, .btn:hover, .btn-primary:hover {
    -webkit-transition: background-color 0.5s, border 0.5s, color 0.5s;
    -moz-transition: background-color 0.5s, border 0.5s, color 0.5s;
    -o-transition: background-color 0.5s, border 0.5s, color 0.5s;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.btn.navigation-tip {
    line-height: normal;
    padding: 5px 1px;
    min-width: initial;
    margin-right: 10px;
    display: inline-block;
    width: 54px;
    box-sizing: border-box;
    border-bottom-width: 1px;
}

.btn-additional {
    border-style: dashed;
    width: 100%;
    background: transparent;
    color: #4a4a4a;
    
    &:hover {
        border-style: dashed;
    }
}


/* COLOUR */
.btn-white {
    border: 1px solid $white;
    background: $white;
    color: #4a4a4a;
    font-weight: 400;
    
    &:hover {
        text-decoration: none;
        background: $primary-purple;
        border: 1px solid $primary-purple;
        color: $white;
    }
}

.btn-white-border {
    border: 1px solid $white;
    background: $transparent;
    
    &:hover {
        text-decoration: none;
        background: $primary-purple;
        border: 1px solid $primary-purple;
    }
}

.btn-purple {
    border: 1px solid $purple;
    background: $transparent;
    
    &:hover {
        text-decoration: none;
        background: $primary-purple;
        border: 1px solid $primary-purple;
    }
}

.inverted a.btn, .inverted a.btn:hover {
    color: #fff;
}