/* COLOUR PALLETTES -------------------------------------------- */

.white {
    background: $white!important;
}

.black {
    background: $black!important;
}

.purple {
    background: $purple!important;
}

.purple-split {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$purple+0,772583+50,fffcfc+50,fffcfc+50,fffcfc+100,fffcfc+100 */
    background: $purple!important; /* Old browsers */
    background: -moz-linear-gradient(left,  $purple 0%, $purple 50%, $white 50%, $white 50%, $white 100%, $white 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  $purple 0%,$purple 50%,$white 50%,$white 50%,$white 100%,$white 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  $purple 0%,$purple 50%,$white 50%,$white 50%,$white 100%,$white 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$purple', endColorstr='$white',GradientType=1 ); /* IE6-9 */
}

.purple-split-reverse {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$white+0,fffcfc+0,fffcfc+50,fffcfc+50,772583+50,772583+100 */
    background: $white!important; /* Old browsers */
    background: -moz-linear-gradient(left,  $white 0%, $white 0%, $white 50%, $white 50%, $purple 50%, $purple 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  $white 0%,$white 0%,$white 50%,$white 50%,$purple 50%,$purple 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  $white 0%,$white 0%,$white 50%,$white 50%,$purple 50%,$purple 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$white', endColorstr='$purple',GradientType=1 ); /* IE6-9 */
}

.lightgrey {
    background: $lightgrey!important;
}

.grey-1 {
    background: $grey-1;
}

.grey-1-split {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$grey-1+0,a7a9ac+50,a7a9ac+50,fffcfc+50,fffcfc+100 */
    background: $grey-1!important; /* Old browsers */
    background: -moz-linear-gradient(left,  $grey-1 0%, $grey-1 50%, $grey-1 50%, $white 50%, $white 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  $grey-1 0%,$grey-1 50%,$grey-1 50%,$white 50%,$white 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  $grey-1 0%,$grey-1 50%,$grey-1 50%,$white 50%,$white 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$grey-1', endColorstr='$white',GradientType=1 ); /* IE6-9 */
}

.grey-1-split-reverse {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$white+0,fffcfc+50,a7a9ac+50,a7a9ac+50,a7a9ac+100 */
    background: $white!important; /* Old browsers */
    background: -moz-linear-gradient(left,  $white 0%, $white 50%, $grey-1 50%, $grey-1 50%, $grey-1 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  $white 0%,$white 50%,$grey-1 50%,$grey-1 50%,$grey-1 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  $white 0%,$white 50%,$grey-1 50%,$grey-1 50%,$grey-1 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$white', endColorstr='$grey-1',GradientType=1 ); /* IE6-9 */
}

.grey-2 {
    background: $grey-2!important;
}

.grey-2-split {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$grey-2+0,808285+50,fffcfc+50,fffcfc+50,fffcfc+100,fffcfc+100 */
    background: $grey-2!important; /* Old browsers */
    background: -moz-linear-gradient(left,  $grey-2 0%, $grey-2 50%, $white 50%, $white 50%, $white 100%, $white 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  $grey-2 0%,$grey-2 50%,$white 50%,$white 50%,$white 100%,$white 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  $grey-2 0%,$grey-2 50%,$white 50%,$white 50%,$white 100%,$white 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$grey-2', endColorstr='$white',GradientType=1 ); /* IE6-9 */

}

.grey-2-split-reverse {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$white+0,fffcfc+0,fffcfc+50,fffcfc+50,808285+50,808285+100 */
    background: $white!important; /* Old browsers */
    background: -moz-linear-gradient(left,  $white 0%, $white 0%, $white 50%, $white 50%, $grey-2 50%, $grey-2 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  $white 0%,$white 0%,$white 50%,$white 50%,$grey-2 50%,$grey-2 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  $white 0%,$white 0%,$white 50%,$white 50%,$grey-2 50%,$grey-2 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$white', endColorstr='$grey-2',GradientType=1 ); /* IE6-9 */

}

.grey-3 {
    background: $grey-3;
}

.grey-3-split {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$grey-3+0,5c6166+51,fffcfc+51,fffcfc+100,fffcfc+100 */
    background: $grey-3!important; /* Old browsers */
    background: -moz-linear-gradient(left,  $grey-3 0%, $grey-3 51%, $white 51%, $white 100%, $white 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  $grey-3 0%,$grey-3 51%,$white 51%,$white 100%,$white 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  $grey-3 0%,$grey-3 51%,$white 51%,$white 100%,$white 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$grey-3', endColorstr='$white',GradientType=1 ); /* IE6-9 */
}

.grey-3-split-reverse {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$white+0,fffcfc+0,fffcfc+49,5c6166+49,5c6166+100 */
    background: $white!important; /* Old browsers */
    background: -moz-linear-gradient(left,  $white 0%, $white 0%, $white 49%, $grey-3 49%, $grey-3 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  $white 0%,$white 0%,$white 49%,$grey-3 49%,$grey-3 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  $white 0%,$white 0%,$white 49%,$grey-3 49%,$grey-3 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$white', endColorstr='$grey-3',GradientType=1 ); /* IE6-9 */
}

.grey-4 {
    background: $grey-4;
}

.grey-4-split {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$grey-4+0,414042+50,fffcfc+50,fffcfc+50,fffcfc+100,fffcfc+100 */
    background: $grey-4!important; /* Old browsers */
    background: -moz-linear-gradient(left,  $grey-4 0%, $grey-4 50%, $white 50%, $white 50%, $white 100%, $white 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  $grey-4 0%,$grey-4 50%,$white 50%,$white 50%,$white 100%,$white 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  $grey-4 0%,$grey-4 50%,$white 50%,$white 50%,$white 100%,$white 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$grey-4', endColorstr='$white',GradientType=1 ); /* IE6-9 */

}

.grey-4-split-reverse {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$white+0,fffcfc+0,fffcfc+50,fffcfc+50,414042+50,414042+100 */
    background: $white!important; /* Old browsers */
    background: -moz-linear-gradient(left,  $white 0%, $white 0%, $white 50%, $white 50%, $grey-4 50%, $grey-4 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  $white 0%,$white 0%,$white 50%,$white 50%,$grey-4 50%,$grey-4 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  $white 0%,$white 0%,$white 50%,$white 50%,$grey-4 50%,$grey-4 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$white', endColorstr='$grey-4',GradientType=1 ); /* IE6-9 */

}

.primary-blue {
    background: $primary-blue!important;
}

.primary-purple {
    background: $primary-purple!important;
}

.transparent {
    background: $transparent!important;
}
