html, body {
    padding: 0;
    margin: 0;
    position: relative;
    background: $lightgrey;
    font-family: 'Open Sans';
    min-height: 100%;
}

html {    
    overflow-x: hidden;
}

::-moz-selection {
    background: $grey-4;
    color: $white;
}

::selection {
    background: $grey-4;
    color: $white;
}

img {
    width: 100%;
}

.img-contain {
    max-width: 100%;
    width: auto;
}

p + h2, p + blockquote, ul + h2, .responsive-iframe + h2, p + h3, ul + h3, .responsive-iframe + h3 {
    margin-top: 50px;
}

.spacer {
    margin-top: 20px;
}

.medium-spacer {
    margin-top: 40px;
}

.large-spacer {
    margin-top: 60px;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

small, .small {
    font-size: 11px;
}

.text-center {
    text-align: center;
}

.responsive-iframe {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
    margin: 40px 0;
}

.responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.inverted {
    
    h1, h2, h3, h4, h5 {
        color: #fff;
    }
    
    p, blockquote {
        color: #fff;
    }
}

.banner section {
    padding: 10% 0;
}

.wrapper {
    position: relative;
    background: #fff;
    min-height: 100%;
}

section {
    padding: 60px 0;
    overflow: hidden;
}