header {
    position: relative;
    z-index: 9999;
    
    .skip-nav {
        display: block;
        color: transparent;
        height: 0;
        width: 0;
    }
    
    .sub-nav-toggle {
        position:absolute;
        left: 0;
        top: 110px;
        
        button {
            background: transparent;
            border: none;
            font-size: 30px;
            color: #D8D8D8;
            width: 70px;
            padding-left: 27px;
            padding-bottom: 3px;
            @include transition(background-color, 0.3s, ease-out);
            @include transition(color, 0.3s, ease-out); 
            
            &:hover {
                background-color: #32353D;
                color: $white;
                @include transition(background-color, 0.3s, ease-out);
                @include transition(color, 0.3s, ease-out);
            }

            &:before {
                padding-left: 0;
            }
        }
    }
    
}