header {
    
    .skip-nav {
        display: block;
        color: transparent;
        height: 0;
        width: 0;
    }
    
    .top-bar {
        height: 45px;
        background-color: #32353D;
        overflow: hidden;
        
        a {
            display: block;
            float: left;
            height: 45px;
            box-sizing: border-box;
            font-size: 13px;
            border-right: 1px solid #666;
            @include transition(background-color, 0.3s, ease-out);
            @include transition(border, 0.3s, ease-out);
            color: #D8D8D8;
            font-weight: 400;
            
            
            &:last-child {
                border-right: none;
            }
            
            &.active {
                background-color: $primary-blue;
                font-weight: 600;
                color: $white;
                border-right: 1px solid $primary-blue;
            }
            
            &:hover {
                background-color: $primary-purple;
                text-decoration: none;
                border-right: 1px solid $primary-purple;
                color: $white;
                font-weight: 400;
            }
            
            &.active:hover {
                font-weight: 600;
            }
            
            &:last-child, &:last-child:hover {
                border-right: none;
            }
            
            & + a:hover {
                border-right: 1px solid $primary-purple;
                @include transition(border, 0.3s, ease-out);
            }
        }
        
        .user-type, .session-nav {
            display: inline-block;
            overflow: hidden;
        }
        
        .user-type {
            
            a {
                padding: 14px 30px;
            }
        }
        
        .session-nav {
            float: right;
            
            a {
                width: 70px;
                text-align: center;
                padding-top: 7px;
                
                &.bppicon:before {
                    padding-right: 0;
                    font-size: 30px;
                }
                
            }
        }
    }
    
}

@media (max-width: 470px) {
    
    header {
        
        .top-bar {
            
            .user-type {
                width: 100%;
                
                a {
                    width: 50%;
                    text-align: center;
                }
            }
            
            .session-nav {
                display: none;
            }
        }
    }
    
}