ul.tick-list:before {
    content: '';
    padding: 0;
}

ul.tick-list li:before {
	content: "\e90a";
	font-family: BPPIcons;
    padding-right: 5px;
    color: $primary-blue;
    display: block;
    float: left;
    clear: left;
    font-size: 1.3em;
    position: absolute;
    left: 0;
    top: -3px;
}

ul.tick-list {
    padding-left: 0;
    position: relative;
}

ul.tick-list li {
    background: none;
    padding-left: 25px;
    font-size: 17px;
    list-style: none;
    padding-bottom: 20px;
    position: relative;
}

ul.tick-list.inverted li:before, .inverted ul.ticklist:before, ul.tick-list.inverted li, .inverted ul.ticklist {
    color: $white;
}