/* Brand Colours */

$purple: #772583;
$white: #FFFFFF;
$black: #000000;

/* Neutral Colours */
$lightgrey: #F3F3F3;
$grey-1: #A7A9AC;
$grey-2: #31343D;
$grey-3: #686868;
$grey-4: #4A4A4A;
$transparent: transparent;

/* Primary Colours */
$primary-blue: #00A7CE;
$primary-purple: #995CA2;

/* Secondary Colours */
$purple: #772583;

/* Font Colour */
$font-grey: #666666;