  
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}
  <script src="https://s3-eu-west-1.amazonaws.com/bppassets/public/assets/framework_template/buildscripts.js" type="text/javascript"></script>
  </body>
</html>
